<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinFormDemo.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>http://172.168.0.241/mz/fuzhen/2/s02</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="MySqlConnectStr" serializeAs="String">
                <value>server=192.168.0.173;database='menzhen';userid=root;password='trans';Charset='utf8'</value>
            </setting>
        </WinFormDemo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WinFormDemo.Properties.Settings>
            <setting name="SSCardComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="UID_Type" serializeAs="String">
                <value>USERIDCARD</value>
            </setting>
            <setting name="UID_Port" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="UID_BMPDIR" serializeAs="String">
                <value>uidbmp\</value>
            </setting>
        </WinFormDemo.Properties.Settings>
    </userSettings>
</configuration>